<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
    xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<title>Avaliação</title>
<head th:replace="Fragments/header :: header"></head>
<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>
<script src="https://code.highcharts.com/modules/export-data.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>
<script src="https://code.highcharts.com/modules/export-data.js"></script>
<script src="https://code.highcharts.com/modules/drilldown.js"></script>
<style>
    .row {
        padding: 5px;
    }

    .col {
        margin: 5px;
    }

    .card-header {
        margin: 0 -30;
    }

    img {
        max-width: 150px;
        max-height: 100px;
        width: auto;
        height: auto;
    }

    .avaliacaoTable {
        width: 1%;
    }

    #dataTable_filter,
    .pagination {
        float: right;

    }

    #dataTable_filter label input {
        border: 1px solid rgba(0, 0, 0, .125) !important;
        border-radius: .25rem;
    }
</style>

<body>
    <div id="wrapper">
        <ul th:replace="Fragments/sideBar :: sidebar"></ul>

        <div id="content-wrapper" class="d-flex flex-column">
            <!--INCLUI -->

            <div id="content">
                <nav th:replace="Fragments/topnav :: topnav"></nav>
                <div th:replace="Fragments/logout :: logout"></div>

                <div class="container-fluid">

                    <th:block th:each="aluno : ${aluno}">
                        <div class="row">
                            <div class="col-xl-6 col-md-6 mb-4 col-sm-8">
                                <div class="card border-left-primary shadow h-100 py-2">
                                    <div class="card-body">
                                        <div class="row no-gutters align-items-center">
                                            <div class="col mr-2">
                                                <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                                                    Aluno</div>
                                                <div class="h5 mb-0 font-weight-bold text-gray-800"><span
                                                        th:text="${aluno.nome}"></span></div>
                                            </div>
                                            <div class="col-auto">
                                                <i class="fas fa-user fa-2x text-gray-300"></i>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-xl-3 col-md-6 mb-4">
                                <div class="card border-left-success shadow h-100 py-2">
                                    <div class="card-body">
                                        <div class="row no-gutters align-items-center">
                                            <div class="col mr-2">
                                                <div class="text-xs font-weight-bold text-success text-uppercase mb-1">
                                                    Data de Nascimento</div>
                                                <div class="h5 mb-0 font-weight-bold text-gray-800"><span
                                                        th:text="${aluno.getDataNascimentotoString()}"></span></div>
                                            </div>
                                            <div class="col-auto">
                                                <i class="fas fa-birthday-cake fa-2x text-gray-300"></i>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-xl-3 col-md-6 mb-4">
                                <div class="card border-left-success shadow h-100 py-2">
                                    <div class="card-body">
                                        <div class="row no-gutters align-items-center">
                                            <div class="col mr-2">
                                                <div class="text-xs font-weight-bold text-success text-uppercase mb-1">
                                                    Sexo</div>
                                                <div class="h5 mb-0 font-weight-bold text-gray-800">

                                                    <span th:if="${aluno.sexo =='1'}">MASCULINO</span>
                                                    <span th:unless="${aluno.sexo == '2'}">FEMININO</span>
                                                </div>
                                            </div>
                                            <div class="col-auto">
                                                <i class="fas fa-venus-mars fa-2x text-gray-300"></i>


                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-xl-3 col-md-6 mb-4 col-sm-8">
                                <div class="card border-left-success shadow h-100 py-2">
                                    <div class="card-body">
                                        <div class="row no-gutters align-items-center">
                                            <div class="col mr-2">
                                                <div class="text-xs font-weight-bold text-success text-uppercase mb-1">
                                                    Estatura</div>
                                                <div class="h5 mb-0 font-weight-bold text-gray-800"><span
                                                        th:text="${avaliacoes[0].estatura}"></span></div>
                                            </div>
                                            <div class="col-auto">
                                                <i class="fas fa-ruler fa-2x text-gray-300"></i>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-xl-3 col-md-6 mb-4">
                                <div class="card border-left-success shadow h-100 py-2">
                                    <div class="card-body">
                                        <div class="row no-gutters align-items-center">
                                            <div class="col mr-2">
                                                <div class="text-xs font-weight-bold text-success text-uppercase mb-1">
                                                    IMC</div>
                                                <div class="h5 mb-0 font-weight-bold text-gray-800"><span id="data"
                                                        th:text="${avaliacoes[0].imc}"></span></div>
                                            </div>
                                            <div class="col-auto">
                                                <i class="fas fa-balance-scale fa-2x text-gray-300"></i>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-xl-3 col-md-6 mb-4">
                                <div class="card border-left-success shadow h-100 py-2">
                                    <div class="card-body">
                                        <div class="row no-gutters align-items-center">
                                            <div class="col mr-2">
                                                <div class="text-xs font-weight-bold text-success text-uppercase mb-1">
                                                    Ultima Avaliação</div>
                                                <div class="h5 mb-0 font-weight-bold text-gray-800"><span
                                                        class="data"
                                                        th:text="${aluno.getUltimaAvaliacaotoString()}"></span></div>
                                            </div>
                                            <div class="col-auto">
                                                <i class="fas fa-calendar fa-2x text-gray-300"></i>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-xl-3 col-md-6 mb-4">
                                <div class="card border-left-primary shadow h-100 py-2">
                                    <div class="card-body">
                                        <div class="row no-gutters align-items-center">
                                            <div class="col mr-2">
                                                <div class="text-xs font-weight-bold text-primary mb-1">
                                                    <a class="btn btn-primary" th:href="@{|/avaliar/${aluno.id}|}" >Nova avaliação</a>
                                                </div>
                                            </div>
                                            <div class="col-auto">
                                                <i class="fas fa-user-plus fa-2x text-gray-300"></i>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </th:block>

                    <div class="row">
                        <div class="card shadow mb-4 col">

                            <div class="container-fluid">
                                <div class="card-header">
                                    <center>Histórico</center>
                                </div>
                                <div id="lineChart" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
                            </div>
                        </div>
                    </div>
                    <hr />

                    <div class="row">
                        <div class="card shadow mb-4 col chart1">
                            <div class="container-fluid">
                                <div id="pizzaChart" style="min-width: px; height: 400px; "></div>
                            </div>
                        </div>

                        <div class="card shadow mb-4 col chart2">
                            <div class="container-fluid">
                                <div id="barChart" style="min-width: px; height: 400px; "></div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="card shadow mb-4 col">
                            <div class="container-fluid">
                                <a href="#collapseCardExample" class="d-block card-header py-3 collapsed"
                                    data-toggle="collapse" role="button" aria-expanded="false"
                                    aria-controls="collapseCardExample">
                                    <center>INFORMAÇÕES</center>
                                </a>
                                <div class="collapse" id="collapseCardExample">
                                    <div class="card-body">
                                        <div class="row">
                                            <div class="col card bg-info text-white">
                                                <div class="card-body">
                                                    <div class="text-white-50 small">PEITORAL</div>
                                                    <span class="big" th:text="${avaliacoes[0].peitoral}"></span>
                                                </div>
                                            </div>
                                            <div class="col card bg-info text-white">
                                                <div class="card-body">
                                                    <div class="text-white-50 small">AUXILIAR MÉDIA</div>
                                                    <span class="big" th:text="${avaliacoes[0].mediaAuxiliar}"></span>
                                                </div>
                                            </div>
                                            <div class="col card bg-info text-white">
                                                <div class="card-body">
                                                    <div class="text-white-50 small">SUB ESCAPULAR</div>
                                                    <span class="big" th:text="${avaliacoes[0].subEscapular}"></span>
                                                </div>
                                            </div>
                                            <div class="col card bg-info text-white">
                                                <div class="card-body">
                                                    <div class="text-white-50 small">TRICIPITAL</div>
                                                    <span class="big" th:text="${avaliacoes[0].tricipital}"></span>
                                                </div>
                                            </div>
                                            </div>
                                            <div class="row">
                                            <div class="col card bg-info text-white">
                                                <div class="card-body">
                                                    <div class="text-white-50 small">BICIPTAL</div>
                                                    <span class="big" th:text="${avaliacoes[0].biciptal}"></span>
                                                </div>
                                            </div>
                                            <div class="col card bg-info text-white">
                                                <div class="card-body">
                                                    <div class="text-white-50 small">SUPRA ILIACA</div>
                                                    <span class="big" th:text="${avaliacoes[0].supraIliaca}"></span>
                                                </div>
                                            </div>
                                            <div class="col card bg-info text-white">
                                                <div class="card-body">
                                                    <div class="text-white-50 small">DOBRA ABDOMINAL</div>
                                                    <span class="big" th:text="${avaliacoes[0].abdominalDobra}"></span>
                                                </div>
                                            </div>
                                            <div class="col card bg-info text-white">
                                                <div class="card-body">
                                                    <div class="text-white-50 small">COXA</div>
                                                    <span class="big" th:text="${avaliacoes[0].coxa}"></span>
                                                </div>
                                            </div>
                                            <div class="col card bg-info text-white">
                                                <div class="card-body">
                                                    <div class="text-white-50 small">PANTURRILHA</div>
                                                    <span class="big" th:text="${avaliacoes[0].panturrilha}"></span>
                                                </div>
                                            </div>
                                        </div>
                                        <hr />
                                        <div class="row">
                                            <div class="col card bg-secondary text-white">
                                                <div class="card-body">
                                                    <div class="text-white-50 small">TORAX</div>
                                                    <span class="big" th:text="${avaliacoes[0].torax}"></span>
                                                </div>
                                            </div>
                                            <div class="col card bg-secondary text-white">
                                                <div class="card-body">
                                                    <div class="text-white-50 small">BRAÇO DIREIT</div>
                                                    <span class="big" th:text="${avaliacoes[0].bracoDireito}"></span>
                                                </div>
                                            </div>
                                            <div class="col card bg-secondary text-white">
                                                <div class="card-body">
                                                    <div class="text-white-50 small">BRAÇO ESQUERDO</div>
                                                    <span class="big" th:text="${avaliacoes[0].bracoEsquerdo}"></span>
                                                </div>
                                            </div>
                                            <div class="col card bg-secondary text-white">
                                                <div class="card-body">
                                                    <div class="text-white-50 small">ANTEBRAÇO DIREITO</div>
                                                    <span class="big"
                                                        th:text="${avaliacoes[0].antebracoDireito}"></span>
                                                </div>
                                            </div>
                                            <div class="col card bg-secondary text-white">
                                                <div class="card-body">
                                                    <div class="text-white-50 small">ANTEBRAÇO ESQUERDO</div>
                                                    <span class="big"
                                                        th:text="${avaliacoes[0].antebracoEsquerdo}"></span>
                                                </div>
                                            </div>
                                            <div class="col card bg-secondary text-white">
                                                <div class="card-body">
                                                    <div class="text-white-50 small">PERIMETRO ABDOMINAL</div>
                                                    <span class="big" th:text="${avaliacoes[0].abdominal}"></span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col card bg-secondary text-white">
                                                <div class="card-body">
                                                    <div class="text-white-50 small">CINTURA</div>
                                                    <span class="big" th:text="${avaliacoes[0].cintura}"></span>
                                                </div>
                                            </div>
                                            <div class="col card bg-secondary text-white">
                                                <div class="card-body">
                                                    <div class="text-white-50 small">QUADRIL</div>
                                                    <span class="big" th:text="${avaliacoes[0].quadril}"></span>
                                                </div>
                                            </div>
                                            <div class="col card bg-secondary text-white">
                                                <div class="card-body">
                                                    <div class="text-white-50 small">COXA DIREITA</div>
                                                    <span class="big" th:text="${avaliacoes[0].coxaDireita}"></span>
                                                </div>
                                            </div>
                                            <div class="col card bg-secondary text-white">
                                                <div class="card-body">
                                                    <div class="text-white-50 small">COXA ESQUERDA</div>
                                                    <span class="big" th:text="${avaliacoes[0].coxaEsquerda}"></span>
                                                </div>
                                            </div>
                                            <div class="col card bg-secondary text-white">
                                                <div class="card-body">
                                                    <div class="text-white-50 small">PERNA DIREITA</div>
                                                    <span class="big" th:text="${avaliacoes[0].pernaDireita}"></span>
                                                </div>
                                            </div>
                                            <div class="col card bg-secondary text-white">
                                                <div class="card-body">
                                                    <div class="text-white-50 small">PERNA ESQUERDA</div>
                                                    <span class="big" th:text="${avaliacoes[0].pernaEsquerda}"></span>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <hr />
                    <div class="row">
                        <div class="card col shadow mb-4 chart2">
                            <div class="container-fluid">
                                <table class="table table-bordered table-striped table-hover" id="dataTable"
                                    width="100%" cellspacing="0">
                                    <thead>
                                        <tr>
                                            <th style="width: 2%;"></th>
                                            <th style="width: 12.5%;">DATA DA AVALIAÇÃO</th>
                                            <th style="width: 12.5%;">ESTATURA</th>
                                            <th style="width: 12.5%;">MASSA</th>
                                            <th style="width: 12.5%;">MASSA DE GORDURA</th>
                                            <th style="width: 12%;">MASSA MAGRA</th>
                                            <th style="width: 12%;">IMC</th>
                                            <th style="width: 12%;">PCCG</th>
                                            <th style="width: 12%;">Ações</th>
                                        </tr>
                                    </thead>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

<footer th:replace="Fragments/footer :: footer"></footer>
<script th:inline="javascript">
    /*<![CDATA[*/
    var objeto = [[${ avaliacoes }]];
            /*]]>*/
</script>
<script th:src="@{/js/Graficos/DashboardAluno.js}">
    var data = JSON.parse(objeto)
</script>
<script th:src="@{/js/Tabelas/TableDashboardAluno.js}"></script>
<script>
        $(function () {
            $('[data-toggle="tooltip"]').tooltip()
            $("[data-tt=tooltip]").tooltip()
        })
</script>
</html>