<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
    <head th:replace="Fragments/header :: header"></head>
    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="https://code.highcharts.com/modules/exporting.js"></script>
    <script src="https://code.highcharts.com/modules/export-data.js"></script>
    <script src="https://code.highcharts.com/modules/exporting.js"></script>
    <script src="https://code.highcharts.com/modules/export-data.js"></script>
    <script src="https://code.highcharts.com/modules/drilldown.js"></script>
    <style>
        .row {
            padding: 5px;
        }
        .col {
            margin: 5px;
        }
        .card-header {
            margin: 0 -30;
        }
        img {
            max-width:150px;
            max-height:100px;
            width: auto;
            height: auto;
        }
    </style>
    <body>
            <div id="wrapper">
                    <ul th:replace="Fragments/sideBar :: sidebar"></ul>

                    <div id="content-wrapper" class="d-flex flex-column">
                        <!--INCLUI -->
                        
                        <div id="content">
                            <nav th:replace="Fragments/topnav :: topnav"></nav>
                            <div th:replace="Fragments/logout :: logout"></div>
                            <div class="container-fluid">  

                            <div class="row">
                            <div class="card col">
                                
                                   <div th:each="aluno:${aluno}" class="container-fluid">
                                        <div  class="card-header">
                                            <center>Aluno</center>
                                        </div>
                                        <th:block th:each="aluno : ${aluno}">
                                        <div class="card-body">
                                            <div class="row">
                                                <div class="col-md-2 padding-0">
                                                    <img alt="User Pic" th:src="@{/images/user_image.png}" id="profile-image1" class="rounded-circle img-responsive"/>                                                                                                    
                                                </div>   
                                                <div class="col-md-2 padding-0">
                                                        <div class="input-group mb-3">
                                                                <div class="input-group-prepend">
                                                                    <span class="input-group-text" id="basic-addon1"><i class="fas fa-user"></i></span>
                                                                </div>
                                                                <input type="text" class="form-control border" name="nome" id="nome_aluno" th:field="${aluno.nome}" placeholder="Digite o nome do Aluno.." />
                                                            </div>
                                                </div>
                                            </div>
                                        </div>
                                        </th:block>
                                    
                                    </div>
                               
                                </div>
                                </div>
                                <div class="row">
                                    <div class="card col">
                                        <div class="container-fluid">
                                            <div id="lineChart" style="min-width: 310px; height: 400px; margin: 0 auto"></div>                                        
                                        </div>
                                    </div>
                                </div>                                 
                                <div class="row">
                                  <div class="card col chart1">
                                        <div class="container-fluid">
                                            <div id="pizzaChart" style="min-width: px; height: 400px; "></div>
                                        </div>
                                    </div>      

                                  <div class="card col chart2">
                                        <div class="container-fluid">
                                            <div id="barChart" style="min-width: px; height: 400px; "></div>
                                        </div>
                                    </div>       
                                </div>                                    
                            </div>
                        </div>
                    </div>
            </div>
        </body>

        <footer th:replace="Fragments/footer :: footer"></footer>
        <script th:inline="javascript">
            /*<![CDATA[*/
            var objeto = [[${avaliacoes}]];
            /*]]>*/
        </script>
        <script th:src="@{/js/Graficos/DashboardAluno.js}" >            
        </script>
</html>
