<nav  th:fragment="topnav" class="navbar sticky-top  navbar-expand-md navbar-dark bg-primary">
        <div class="container">
            <a class="navbar-brand" href="lista_alunos.html">
                <img class="rounded" height="60px" src="https://logopond.com/logos/0343ba08a5fd3ca2a92cbd23932a1b14.png"/>
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#menu">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse collapse" id="menu">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link active" href="#">Alunos</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Perfil</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Logout</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>