.modal-input__size{width: 100% !important;}
.modal-p__color{color:gray;}
.modal-input__size modal-placeholder-size{font-size: 12px !important;}
.modal-p__size{font-size: 14.5px}
.modal-table-td__width{width:15.9% !important}
.modal-table-td-input__width{width:40% !important}
.modal-table-td-input__widthh{width:10% !important} /* Aqui e so pra testar se ficarar como aba */
.table-cadastrar__width{width:90vh !important;}




