<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<head th:replace="Fragments/header :: header">
</head>
<link href="vendor/datatables/dataTables.bootstrap4.min.css" rel="stylesheet" />
<style>
    .tableTabs {
        margin-bottom: 10px;
    }
    
    
    .dataTables_length {
        margin-left: 10px;
    }
    
    .dataTables_info {
        margin-left: 10px;
    }

    #dataTable2_filter label input,
    #dataTable3_filter label input,
    #dataTable_filter label input {
        border: 1px solid rgba(0, 0, 0, .125) !important;
        border-radius: .25rem;
    }
</style>

<body id="page-top">

    <div th:replace="Fragments/logout :: logout"></div>
    <!-- INCLUI SISTEMA SUPERIOR DE LOGOUT -->

    <div id="wrapper">
        <ul th:replace="Fragments/sideBar :: sidebar"></ul>

        <div id="content-wrapper" class="d-flex flex-column">
            <!--INCLUI -->

            <div id="content">
                <nav th:replace="Fragments/topnav :: topnav"></nav>

                <div class="container-fluid">
                    <h1 class="h3 mb-4 text-gray-800">Alunos</h1>

                    <div class="tableTabs">
                        <ul class="nav nav-tabs">
                            <li class="nav-item">
                                <a href="#avaliados" class="nav-link active" data-toggle="tab">Avaliados</a>
                            </li>
                            <li class="nav-item">
                                <a href="#naoAvaliados" class="nav-link" data-toggle="tab">Não Avaliados</a>
                            </li>
                            <li class="nav-item">
                                <a href="#inativos" class="nav-link" data-toggle="tab">Inativos</a>
                            </li>
                        </ul>
                    </div>
                    <div class="tab-content">
                        <div class="tab-pane fade show active" id="avaliados">

                            <div class="table-responsive table-hover">

                                <table class="table table-bordered" id="dataTable2" width="100%" cellspacing="0">
                                    <thead>
                                        <tr>
                                            <th>Name</th>
                                            <th>Data de Nascimento</th>
                                            <th>Sexo</th>
                                            <th>Email</th>
                                            <th>CPF</th>
                                            <th>Ações</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr th:each="alunos:${alunos}" th:if="${alunos.ultimaAvaliacao != null and alunos.ativo == true}">
                                            <td cclass="column1"><span th:text="${alunos.nome}"> </span></td>
                                            <td class="column2"><span th:text="${alunos.dataNascimento}"> </span></td>
                                            <td th:switch="${alunos.sexo}">
                                                <span th:case="'1'">MASCULINO</span>
                                                <span th:case="'2'">FEMININO</span>
                                            </td>
                                            <td class="column4"><span th:text="${alunos.email}"> </span></td>
                                            <td class="column5"><span th:text="${alunos.cpf}"> </span></td>
                                            <td>
                                                <a class="btn btn-outline-primary fas fas fa-address-book" th:href="@{|/avaliacao/${alunos.id}?avaliacao=1|}" role="button"></a>
                                                <a class="btn btn-outline-secondary fas fa-edit" th:href="@{|/edita/${alunos.id}|}"></a>
                                                <button type="button" data-toggle="modal" data-target="#confirm" class="btn btn-outline-danger Button abreModal fas fa-trash-alt" th:attr="value=${alunos.id}"></button>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>

                            </div>
                        </div>

                        <div class="tab-pane fade" id="naoAvaliados">

                            <div class="table-responsive table-hover">
                                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                    <thead>
                                        <tr>
                                            <th>Name</th>
                                            <th>Data de Nascimento</th>
                                            <th style="width: 100px">Sexo</th>
                                            <th>Email</th>
                                            <th>CPF</th>
                                            <th style="width: 150px">Ações</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr th:each="alunos:${alunos}" th:if="${alunos.ultimaAvaliacao == null and alunos.ativo == true}">
                                            <td cclass="column1"><span th:text="${alunos.nome}"> </span></td>
                                            <td class="column2"><span th:text="${alunos.dataNascimento}"> </span></td>
                                            <td th:switch="${alunos.sexo}">
                                                <span th:case="'1'">MASCULINO</span>
                                                <span th:case="'2'">FEMININO</span>
                                            </td>
                                            <td class="column4"><span th:text="${alunos.email}"> </span></td>
                                            <td class="column5"><span th:text="${alunos.cpf}"> </span></td>
                                            <td>
                                                <a class="btn btn-outline-primary fas fa-address-book" th:href="@{|/avaliar/${alunos.id}|}" role="button"></a>
                                                <a class="btn btn-outline-secondary fas fa-edit" th:href="@{|/edita/${alunos.id}|}"></a>
                                                <button type="button" data-toggle="modal" data-target="#confirm" class="btn btn-outline-danger Button abreModal fas fa-trash-alt" th:attr="value=${alunos.id}"></button>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>

                        <div class="tab-pane fade" id="inativos">

                            <div class="table-responsive table-hover">
                                <table class="table table-bordered" id="dataTable3" width="100%" cellspacing="0">
                                    <thead>
                                        <tr>
                                            <th>Name</th>
                                            <th>Data de Nascimento</th>
                                            <th style="width: 100px">Sexo</th>
                                            <th>Email</th>
                                            <th>CPF</th>
                                            <th style="width: 150px">Ações</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr th:each="alunos:${alunos}" th:if="${alunos.ultimaAvaliacao == null and alunos.ativo == false}">
                                            <td cclass="column1"><span th:text="${alunos.nome}"> </span></td>
                                            <td class="column2"><span th:text="${alunos.dataNascimento}"> </span></td>
                                            <td th:switch="${alunos.sexo}">
                                                <span th:case="'1'">MASCULINO</span>
                                                <span th:case="'2'">FEMININO</span>
                                            </td>
                                            <td class="column4"><span th:text="${alunos.email}"> </span></td>
                                            <td class="column5"><span th:text="${alunos.cpf}"> </span></td>
                                            <td>
                                                <button type="button" data-toggle="modal" data-target="#confirmAtivar" class="btn btn-outline-primary fas fa-edit Button abreModal" th:value="${alunos.id}"></button>                                    
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="confirm" role="dialog">
        <div class="modal-dialog modal-md">

            <div class="modal-content">
                <div class="modal-body">
                    <p> VOCÊ REALMENTE DESEJA EXCLUIR ALUNO? </p>
                </div>
                <div class="modal-footer">
                    <button id="deleteModal" type="button" class="btn btn-danger delete">EXCLUIR</button>
                    <button type="button" data-dismiss="modal" class="btn btn-primary">VOLTAR</button>
                </div>
            </div>

        </div>
    </div>

    <div class="modal fade" id="confirmAtivar" role="dialog">
        <div class="modal-dialog modal-md">

            <div class="modal-content">
                <div class="modal-body">
                    <p> VOCÊ REALMENTE ATIVAR ESSE ALUNO? </p>
                </div>
                <div class="modal-footer">
                    <button id="AtivarModal" type="button" class="btn btn-primary">ATIVAR</button>
                    <button type="button" data-dismiss="modal" class="btn btn-secondary">VOLTAR</button>
                </div>
            </div>

        </div>
    </div>

</body>

<footer th:replace="Fragments/footer :: footer"></footer>
<script th:src="@{/js/Tabelas/TableListAlunos.js}"></script>

</html>