<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:th="http://www.thymeleaf.org"
    xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<title>Cadastro</title>
<head th:replace="Fragments/header :: header">
</head>

<body>
        <nav th:replace="Fragments/topnav :: topnav"></nav>

        <div class="container">
            <form class="form-salva-aluno" th:action="@{/salva_aluno}" th:object="${aluno}" method="POST" >
                <div>
                    <label for="nome_aluno">Nome</label>
                    <input type="text" class="form-control" id="nome_aluno" placeholder="Digite o nome do Aluno.."/>
                </div>
                <div>
                    <label for="email_aluno">Email</label>
                    <input type="email" class="form-control" id="email_aluno" placeholder="Digite o email do Aluno..."/>
                </div>
                <div>
                    <label for="nascimento_aluno">Data de nascimento</label>
                    <input type="date" class="form-control" id="nascimento_aluno" min="1920-01-01" max="2019-01-01" value="1985-01-01"/>
                </div>
                <div>
                    <label for="cpf_aluno">CPF</label>
                    <input type="text" onchange="validaCPF(this.cpf)" class="form-control modal-input__size modal-placeholder-size" name="cpf" id="cpf_aluno" placeholder="Digite o CPF do aluno.."/>
                </div>
                <div class="btn-group btn-group-toggle" data-toggle="buttons">
                    <label class="btn btn-outline-secondary">
                        <input type="radio" name="options" id="option2" autocomplete="off"/> Masculino
                    </label>
                    <label class="btn btn-outline-secondary">
                        <input type="radio" name="options" id="option3" autocomplete="off"/> Feminino
                    </label>
                </div>
                
                <button type="submit" class="btn btn-primary">Enviar</button>
            </form>
        </div>
</body>

<script type="text/javascript">
    $(document).ready(function(){
        $("#cpf_aluno").mask("999.999.999-99");
    });
</script>
</html>

