<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"> 
    <head>
        <title>Login</title>
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <script type="text/javascript" src="js/jquery.js" ></script>

        <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/jquery.bootstrapvalidator/0.5.2/css/bootstrapValidator.min.css"/>
        <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/jquery.bootstrapvalidator/0.5.2/js/bootstrapValidator.min.js"></script>
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" ></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" ></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
        <link rel="stylesheet" th:href="@{/css/style.css}" type="text/css"/>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"/>
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"/>

    </head>
    <body>       
        <div class="container">
            <div class="row row-principal">
                <!-- LADO ESQUERDO -->
                <div class="col-md-6 col-lg-6 col-lg-offset-1 offset-md-1 row-column__height" id="row-left__img">   
                    <div>

                    </div>
                </div>
                <!-- LADO DIREITO -->
                <div class="col-md-4 col-lg-4 row-column__height row_column-right__bgcolor text-center">
                    <div class="divRight-form__align">
                        <!-- CAMPOS -->
                        <form id="formLogin" method="POST" role="form" data-toggle="validator" th:action="@{/login}" novalidate="true" style="">
                            <h2 style="margin-bottom: 2%">Login</h2>
                                <div th:if="${loginError}" class="alert alert-danger error"><p  style="color:red">Login ou senha incorretos.</p></div>
                                <center>
                                    <input class="form-control inputCtrl form-submit__width" id="username" style="margin-top:4%" name="username" type="text" placeholder="Digite seu login..." required="true"/>
                                    <input class="form-control form-submit__width inputCtrl" type="password" placeholder="Digite sua senha..." id="password" name="password" required="true"/>
                                    <input type="submit" class="btn btn-dark form-submit__width" value="Entrar" style="margin-top:3%; width: 84%" />
                                </center>
                        </form>

                        <a href="#" id="forgot" data-toggle="modal" data-target="#exampleModal" style="font-weight: lighter;font-size: 14px;color:blue">Esqueci o login/senha </a>
                        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <table style="margin-left:38%" id="tableModalTitle">
                                            <tr>
                                                <td>
                                                    <h4 class="modal-title" style="white-space: nowrap" id="exampleModalLabel">Recuperar dados</h4>
                                                </td>
                                                <td style="margin-left:90%;width:90%">
                                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                        <span aria-hidden="true">&times;</span>
                                                    </button>
                                                </td>
                                            </tr>
                                        </table>
                                    </div>
                                    <form action="sadasdasd.html">
                                        <div class="modal-body" style="background-color: #f2f7f982">
                                            <table border="0" align="center" class="retrieve" > 
                                                <tr>
                                                    <td> 
                                                        <p style="margin-bottom: 16px !important; margin-top: 2vh">Olá, se você esqueceu seus dados,  por favor, preencha as informações abaixo</p>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <div class="input-group col-xs-2" style="width:77%;margin-left: 9vh">
                                                            <span class="input-group-addon"><i class="fas fa-address-card fa-fw"></i></span>
                                                            <input class="form-control" type="cpf" placeholder="Digite seu CPF..." id="inputModal" name="cpf" required="true"/>
                                                        </div>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <div class="input-group"  style="width:77%;margin-left: 9vh">
                                                            <span class="input-group-addon"><i class="fas fa-envelope fa-fw"></i></span>
                                                            <input class="form-control" type="email" placeholder="Digite seu email..." name="email" required="true"/>
                                                        </div>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <div class="input-group" style="width:77%;margin-left: 9vh">
                                                            <span class="input-group-addon"><i class="fas fa-envelope fa-fw"></i></span>
                                                            <input class="form-control" type="email" placeholder="Redigite seu email..." name="reemail" required="true"/>
                                                        </div>
                                                    </td>
                                                </tr>

                                            </table>
                                            <br/>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
                                            <button type="submit" class="btn btn-primary" >Recuperar</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div><!--ROW ROW-PRINCIPAL -->
        </div><!-- CONTAINER -->
    </body>
</html>
<script>
    $('#myModal').on('shown.bs.modal', function () {
        $('#myInput').trigger('focus')
    })
</script>


